.content h1{
    font-weight: 500;
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content{
    font-size: 1.1rem;
    line-height: 1.3rem;
}

.img-box img{
    height: 330px;
    width: 100%;
    border-radius: 20px;
    transition: transform 0.8s;
    object-fit: cover;
}

.content{
    padding-top: 3.5rem;
}

.img-box{
    padding-top: 2rem;
}

.img-box:hover img{
    transform: scale(1.1);
}

.services_subtitle{
    font-size: 2.5rem;
    font-weight: 500;
    color: #000000;
    font-family: var(--subtitle-font-name);
}

.services_title{
    font-size: 2.5rem;
    font-weight: 500;
}

.featured_tour-title{
    font-size: 2rem;
    font-weight: 500;
}

.experience_content h2{
    font-size: 2.5 rem;
    margin-top: 1rem;
    font-weight: 500;
}

.experience_content p{
    font-size: 1.1rem;
    color: var(--text-color);
    margin-top: 1rem;
}

.counter_wrapper{
    margin-top: 3rem;
}

.counter_box span{
    margin: 2px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 1.7rem;
    font-weight: 750;
}

.counter_box h6{
    margin-top: 0.8rem;
}

.experience_img img{
    height: 430px;
}

.masonry_img{
    transition: transform 0.8s;
}

.masonry_img:hover{
    transform: scale(1.1);
}

.gallery_title{
    margin-bottom: 30px;
}

.testimonial_title{
    font-size: 2.1rem;
    margin-top: 1rem;
}