
.tour__content img {
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 2.5rem;
}

.tour__info, 
.tour__reviews {
    margin-bottom: 2rem;
    border-radius: .5rem;
    border: 1px solid rgb(229, 231, 235);
    padding: 2rem;
}

.tour__info h2{
    font-size: 1.5rem;
}

.tour__info span{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-style: 1rem;
    color: var(--text-color);
}

.tour__info span i{
    color: var(--secondary-color);
    font-size: 1.1rem;
}

.tour__extra-edtails{
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

.tour__info h5{
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
}

.tour__info p{
    line-height: 30px;
    font-size: 1rem;
    color: var(--text-color);
}

.rating__group span{
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    cursor: pointer;
}

.tour__reviews h4{
    margin-bottom: 3rem;
}

.review__input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0.7rem;
    border-radius: 2rem;
    border: 1px solid var(--secondary-color);
}

.review__input input{
    width: 100%;
    padding: 0.5rem 0;
    border: none;
}

.review__input input:focus{
    outline: none;
}

.review__item{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: 2rem;
}

.review__item img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50px;
    object-fit: cover;
}

.user__reviews{
    margin-top: 2.5rem;
}

.review__item h5{
    font-size: 1rem;
    margin-bottom: 0;
}

.review__item p{
    font-size: .9rem;
    color: var(--text-color);
}

.review__item h6{
    font-style: 1.1rem;
    color: var(--text-color);
}

.review__item span i{
    font-size: 1.2rem;
    color: var(--secondary-color);
}

.review__item span{
    font-weight: 500;
}

.geo_three{
    padding: 15px;
    box-shadow:  rgba(0,0,0,0.2) 0 4px 16px 0;
    border:0;
}

.geo_three iframe{
    width: 760px;
    height: 350px;
    cursor: pointer;
}

.geo_three h2{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.weather-section {
    margin-top: 2rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
  }
  
  .weather-section h2 {
    margin-bottom: 1rem;
  }
  
  .date-input-container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  #weather-date {
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 3px;
  }
  
  .btn.btn-primary {
    background-color: #333;
    color: #fff;
    border-color: #333;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #weather-data {
    margin-top: 1rem;
  }