.service_item{
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.service_item:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.service_img{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: var(--heading-color);
    padding: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: -2px 1px 180px 5px;
}

.service_img img{
    width: 100%;
}

.service_item h5{
    font-size: 1.1rem;
    font-weight: 500;
}

.service_item p{
    font-size: 0.9rem;
    color: var(--text-color);
}