.search_bar{
    padding: 1rem 1rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: max-content;
    margin-top: 30px;
}

.form_group span{
    font-size: 1.8rem;
    color: #110f0f;
}

.form_group input{
    border: none;
    font-size: 0.9rem;
    color: var(--secondary-color);
    font-weight: 500;
}

.form_group input:focus{
    outline: none;
}

.form_group h6{
    margin-bottom: 0;
}

.form_group-fast{
    border-right: 2px solid #ddd; 
}

.search_icon i{
    font-size: 1.6rem;
    padding: 0.5rem;
    background: var(--secondary-color);
    color: #fff;
    border-radius: 10px 5px 10px 5px;
    cursor: pointer;
}