.tour_img img{
    width: 100%; 
    border-radius: 10px;
}

.card{
    padding: 15px;
    border-radius: none !important;
    box-shadow:  rgba(0,0,0,0.2) 0 4px 16px 0;
}

.tour_img{
    position: relative;
}

.tour_img span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: max-content;
    height: max-content;
    z-index: 10;
    background: var(--secondary-color);
    color: #fff;
    padding: 0.3rem 0.5rem;
    border-radius: 8px;
}

.card_top span{
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 0.9rem;
}

.tour_rating i, .tour_location i{
    
    font-size: 1rem;
    cursor: pointer;
}

.tour_title{
    margin-top: 1rem;
    font-size: 1.1rem;
    cursor: pointer;
}

.tour_title a{
    text-decoration: none;
    color: var(--secondary-color);
    transition: 0.3s;
}

.tour_title a:hover{
    color: var(--secondary-color);
}

.card_bottom h5{
    color: var(--secondary-color);
    font-size: 1.1rem;
    font-weight: 700;
}

.card_bottom h5 span{
    font-weight: 500;
    color: var(--text-color);
    font-size: 0.8rem;
}

.booking_btn{
    background: var(--secondary-color) !important;
    cursor: pointer;
    padding: 0.2rem 0.5rem;

}

.booking_btn a{
    text-decoration: none;
    font-size: 0.9rem;
    color: #fff;
}

.booking_btn a:hover{
    color: #fff;
    
}